#python3.6
anago==1.0.8
gensim==3.6.0
Keras==2.2.4
Keras-Applications==1.0.6
keras-contrib==2.0.8
Keras-Preprocessing==1.0.5
numpy==1.15.4
python-crfsuite==0.9.6
scikit-learn==0.19.1
seqeval==0.0.5
sklearn==0.0
sklearn-crfsuite==0.3.6
tabulate==0.8.2
tensorboard==1.12.0
tensorflow==2.5.0
tensorflow-tensorboard==1.5.0
tqdm==4.28.1
